<% if !@waveshape.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @waveshape.errors.full_message.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @waveshape, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br />
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <br />
    <%= f.submit "Convert", class: "btn btn-primary" %>
  <% end %>
<br />
