<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<%= link_to "Carbons", "carbons#index" %>
<br />
<br />
<br />
<%= link_to "New Sound", new_sound_path, class: "btn btn-primary" %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Download Link</th>
      <th>Preview</th>
      <th>Select to Append</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @sounds.each do |sound| %>
      <tr>
        <td><%= sound.name %></td>
        <td><%= sound.description %></td>
        <td><%= link_to sound["attachment"], sound.attachment_url %></td>
        <td><audio controls class="inline">
          <source src= <%= sound.attachment_url %> type="audio/wav">
        </td>
        <td><%= check_box_tag(sound, class: 'checkbox')%></td>
        <td><%= button_to "Delete", sound, method: :delete, class: "btn btn-danger", data: { confirm: "Delete '#{sound.name}' permanently?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>